{
  "presets": [
    "react",
    [
      "env",
      {
        "debug": true,
        "modules": false,
        "targets": {
          "browsers": ["last 2 versions"]
        }
      }
    ]
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-inline-environment-variables"
  ]
}
